:root {
  --main-bg-color: #f4f4f4;
  --main-text-color: #202122;
  --footer-bg-color: #333333;
  --footer-text-color: #ffffff;
  --footer-shadow-color: #000000;
  --menu-hover-color: #ffcc00;
}



body {
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

main {
  padding: 2em;
  color: #202122;
  background-color: #ffffff;
  direction: ltr;
}

header {
  text-align: center;
  background-image: url("../img/eifel_tour.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


footer {
  padding: 2em;
  color: var(--footer-text-color);
  text-align: center;
  background-color: var(--footer-bg-color);
  box-shadow: inset 10px 0 0 0 var(--footer-shadow-color);
}

footer p {
  margin-bottom: 1em;
}

footer a {
  margin: 0 10px;
  color: var(--footer-text-color);
  text-decoration: none;
}

.footer-date a {
  color: var(--footer-text-color);
  text-decoration: none;
}

footer a:hover {
  color: var(--menu-hover-color);
  transition: color .3s;
}

address {
  margin-bottom: 1em;
  font-style: normal;
}

.footer-date {
  padding: 1em;
  margin-top: 1em;
  background-color: rgb(0 0 0 / 20%);
}

.footer-date a:hover {
  color: var(--menu-hover-color);
}

#menu {
  padding: 10px;
  background-color: #333333;
}

#menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#menu li {
  display: inline;
  margin-right: 15px;
}

#menu a {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  transition: color .3s;
}

#menu a:hover {
  color: #ffcc00;
}

.content-wrapper {
  display: flex;
  align-items: center;
}

.content-wrapper > div {
  flex: 1;
  padding-right: 20px;
}

figure {
  float: right;
  margin-left: 20px;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;

}

/* Додайте або оновіть цей код в ваш файл CSS */


